SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@qalita.local
SUPERSET_SECRET_KEY=please_change_me

POSTGRES_USER=reporter
POSTGRES_PASSWORD=reporter
POSTGRES_DB=qalita_reporting
POSTGRES_PORT=5432
